<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="anchor" href="#top">{% svgicon chevron-top %}</a>
      </div>
      <div class="footer-col footer-col-2">
        <p>2017 @ Powered by Gitlab Pages and Jekyll {% svgicon jekyll %}, licensed under MIT License.</p>
      </div>
      <div class="footer-col footer-col-3">
        <a class="footer-link-linkedin" href="http://linkedin.com/in/{{site.linkedin_username}}">
          {% svgicon linkedin %}
        </a>
        <a class="footer-link-github" href="http://github.com/{{site.github_username}}">
          {% svgicon github %}
        </a>
        <a class="footer-link-youtube" href="http://youtube.com/{{site.youtube_username}}">
          {% svgicon youtube %}
        </a>
      </div>
    </div>
  </div>
</footer>

