---
layout: post
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="application">
      {% include global.html %}
      {% include search.html %}
      {% include header.html %}
      <section class="wrapper post">
        {{content}}

            {% if page.categories %}
            <div class="container" style="padding-top: 20px;">
              <div class="row">
                  <div class="col">
                      <div style="padding-bottom: 10px;">
                          <ul style="list-style: none; margin:0;">
                              {% for category in page.categories %}
                                  <li style="border: none;color: rgba(0,0,0,.6);background: rgba(0,0,0,.05); display: inline-block; padding: 5px 10px; border-radius: 3px;">
                                      {{category}}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}

          {% if page.author_url_avatar %}
          <div class="container" style="border-top: 1px solid rgba(0,0,0,.05); padding-top: 20px;">
              <div class="row">
                  <div class="col">
                      <div style="display: table-cell;">
                          <a href="{{page.author_url}}">
                              <img src="{{ page.author_url_avatar }}" alt="Go to the profile of Alan Lira" style="width: 60px; height: 60px; border-radius: 100%;">
                          </a>
                      </div>
                      <div style="display: table-cell; padding-left: 15px;">
                          <h3>
                              <a href="{{ page.author_url }}" style="text-decoration: none; color: rgba(0,0,0,.8);">{{page.author}}</a>
                          </h3>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}


        {% if page.highlights != false %}
          {% include highlight.html %}
        {% endif %}

        {% if page.comments %}
          {% include comment.html %}
        {% endif %}

        {% if page.related %}
          {% include related.html %}
        {% endif %}

      </section>
    </div>
  {% if page.comments %}
  <script id="dsq-count-scr" src="//philsensus.disqus.com/count.js" async></script>
  {% endif %}
  </body>
  {% include footer.html %}
</html>
